* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    background: linear-gradient(120deg, #130f40, #4834d4, #8344ad);
    height: 100vh;
  }
  
  img {
    max-width: 100%;
  }
  
  .player {
    width: 360px;
    height: 640px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 1px 1px 30px #111, -1px -1px 30px #111;
    overflow: hidden;
  }

  .player-bg img{
    mix-blend-mode: normal;
    box-shadow: inset 0px 0px 250px 24px rgba(0, 0, 0, 0.5);
    filter: blur(3px);
    position: absolute;
    width: 360px;
    height: 640px;
    z-index: -1;
    
  }
  
  
  .container {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .icons {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
  }
  
  .icons a {
    color: #ffffff;
    font-size: 1.6em;
    transition: all 0.3s;
  }
  
  .icons a:hover {
    color: #fff;
  }
  
  .img {
    width: 64%;
    border-radius: 65%;
    border: #fff;
    margin: 30px auto;
    transition: all 0.3s;
  }
  
  .img img {
    border-radius: 50%;
    cursor: pointer;
  }
  
  .img:hover {
    transform: scale(1.03);
  }
  .title {
    text-align: center;
    margin: 10px 0;
    text-shadow: 1px 1px 5px #111, -1px -1px 5px #111;
  }
  
  .title h1 {
    font-size: 2em;
    margin: 0 0 10px 0;
  }
  
  .title p {
    color: #fff;
    font-size: 1.1em;
  }
  
  .time {
    text-align: center;
    margin: 15px 0;
    text-shadow: 1px 1px 5px #111, -1px -1px 5px #111;
  }
  
  .seek {
    width: 100%;
    height: 2px;
    background: #b8b8b8;
    
  }
  .seek .fill {
    width: 0;
    height: 5px;
    background: #fff;
    border-radius: 50px;
  }
  
  .audio-btns {
    margin: 40px auto;
    height: 350px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    filter: drop-shadow(3px 3px 5px #111);
  }

  .play-btns {
    padding: 10px 0;
  }

  .play-btns img{
    width: 3.3em;
    vertical-align: middle;
  }
  
  .audio-btns img:hover {
    opacity: 0.5;
  }
  

  .play-btns a {
    color: #fff;
    margin: 0 10px;
    transition: all 0.5;
  }
  
  .play-btns .play-pause {
    padding: 30px 30px 30px 33px;
    width: 3.4;
  }
  
  